* {
    background-color: rgb(91, 139, 242);
}

header {
    width: 100%;
}

header h1 {
    color: white;
    font-size: 36px;
    float: left;
    margin-left: 10px;
    padding: 10px;
}

.navbar {
    display: flex;
    flex-wrap: wrap;
}

.navbar li {
    margin: 5px;
    color: green;
}

.content {
    width: 80%;
    display: inline-block;
}


.about {
    display: inline-block;
}

.about h2 {
    color: white;
    font-size: 34px;
    border: 3px dashed black;
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

.about p {
   display: inline-block;
   margin-left: 10px;
}

.work {
    flex-wrap: wrap;
    border: 3px dashed black;
    margin: 10px;
}

.work h2{
    color: white;
    font-size: 34px;
    margin: 10px 30px 10px 10px;
    display: flex-start;
}
.workimage  {
    box-shadow: 5px 5px 5px black;
    border-radius: 10px;
    max-width: 300px;
    margin: 5px;
}

footer {
    flex-wrap: wrap;
    border: 3px dashed black;
    margin: 10px;
    padding: 10px;
}

footer h3 {
    color: white;
    font-size: 24px;
    float: left;
}

footer li{
    font-size: 20px;
    display: inline;
    margin: 10px;
}