* {
    background-color: rgb(37, 37, 37);
}

header {
    width: 80%;
    display: inline;
}

header h1 {
    color: white;
    font-size: 36px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    display: inline;
}

.profilepic {
    max-width: 200px;
    display: inline;
    direction: column;
    margin: 20px;

}

nav {
    display: inline;
    float: right;
}

nav ul {
    display: inline;
    width: 100px;
}

nav li {
    margin: 15px;
    font-size: 24px;
    text-align: right;
    color: white;
}

.content {
    width: 80%;
    display: inline;
}

.about {
    display: block;
    margin: 30px;
}

.about h2 {
    color: white;
    font-size: 34px;
    padding: 10px;
    width: 300px;
    display: inline;
    border: 3px dotted white;
}

.about p {
   margin: 10px;
   border: 3px dashed white;
   max-width: 500px;
   min-width: 100px;
   font-size: 20px;
   color: white;
   padding: 10px;
}

.work {
    flex-wrap: wrap;
    border: 3px dashed white;
    margin: 20px;
}

.work h2{
    color: white;
    font-size: 34px;
    width: 200px;
    margin: -20px 10px 10px -10px;
    padding: 5px;
    text-align: center;
    border: 3px dotted white;
}

.workimage  {
    box-shadow: 5px 5px 5px rgb(174, 174, 174);
    border-radius: 10px;
    max-width: 300px;
    margin: 5px;
    direction: column;
}

.album {
    max-width: 400px;
    box-shadow: 5px 5px 5px white;
    border-radius: 10px;
    margin: 5px;
}

footer {
    border: 3px dashed white;
    margin: 10px;
    padding: 10px;
}

footer h3 {
    color: white;
    font-size: 24px;
    float: left;
    margin-right: 44%;
    margin-top: 9px;
}

footer li{
    font-size: 20px;
    display: inline-block;
    margin: 10px;
}

@media screen and (max-width:810px) {
    footer h3 {
        color: white;
        font-size: 24px;
        float: left;
        margin-right: 10%;
    }
}

@media screen and (max-width: 700px) {
    nav {
        position: absolute;
    }
}

@media screen and (max-width: 525px) {
    footer h3 {
        color: white;
        font-size: 24px;
        float: left;
        margin-right: 5%;
    }
    footer li{
        font-size: 20px;
        display: inline-block;
        margin: 5px;
    }
}
